/* Body Styling */

body {
  margin: 0;
  padding: 0;
  /* Set 1em = 10px*/
  font-size: 62.5%;
}

header {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  width: 100%;
  height: 100px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
margin: 0;
font-family: sans-serif;
color: white;
font-size: 15em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1.6em;
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  margin: 50px auto;
}

/* Form Styling */
form {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.list-input, .list-edit {
  width: 90%;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px 0 0 10px;
  outline: none;
  padding: 0 10px;
  font-size: 3.2em;
  font-family: sans-serif;
  font-weight: lighter;
}

button {
  width: 10%;
  font-weight: bolder;
  height: 42px;
  border: 1px solid black;
  border-radius: 0 10px 10px 0;
  font-size: 1.5em;
  padding: 0;
  margin-left: -1px;
  background-image: linear-gradient(120deg, #fefefe 0%, #efefef 100%);
}

/* Modal Styles */

.edit-modal, .confirm-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, .8);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-modal {
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0);
}

.edit-modal form {
  width: 80%;
}

.confirm-window {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  height: 150px;
  width: 350px;
  border-radius: 10px;
  border: 3px solid black;
  background-color: rgba(255, 255, 255, .9);
}

.confirm-window button {
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
  background-image: none;
  transition: all .4s;
  border: 2px solid black;
}

.confirm-window button:last-child {
  margin-left: 20px;
  background-color: rgba(247, 102, 85, .6);
}

.confirm-window button:last-child:hover {
  margin-left: 20px;
  background-image: none;
  background-color: rgba(247, 102, 85, .9);
}

.confirm-window button:first-child:hover {
  background-color: rgba(200, 200, 200, .4);
}

.confirm-modal p {
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
}

/* List Item Style*/

.fa:hover {
  cursor: pointer;
}

.fa-trash-o {
  float: right;
  color: rgb(247,102,85);
  transition: all .4s;
}

.fa-pencil {
  color: rgb(158,218,227);
  margin-right: 20px;
  float: right;
  transition: all .4s;
}

.fa-trash-o:hover, .fa-pencil:hover {
  opacity: .7;
  transform: scale(1.1);
}

.fa-square-o, .fa-check-square-o {
  float: left;
  margin: 5px 20px 0 0;
  /*font-size: 2em;*/
}

li {
  margin-top: 20px;
  width: 100%;
  /*display: flex;
  align-items: center;*/
  font-size: 2em;
}

/* Strikethrough Completed Task */
.strikethrough {
  text-decoration: line-through;
  color: gray;
}

/* Remove Elements From Display */
.hidden {
  display: none;
}
